---
import { db, Self } from "astro:db"
import Layout from "../layouts/Layout.astro"
const gifts = await db.select().from(Self)
---
<Layout>
    {
        gifts.map(({id, name, email, phone, address1, address2, city, state, pincode, message})=>{
            return(
                <div>
                    <span>{id}</span>
                    <span>{name}</span>
                    <span>{email}</span>
                    <span>{phone}</span>
                    <span>{address1}</span>
                    <span>{address2}</span>
                    <span>{city}</span>
                    <span>{state}</span>
                    <span>{pincode}</span>
                    <span>{message}</span>
                </div>
            )
        })
    }
</Layout>