---
import { db, Readings, eq } from "astro:db";
import Layout from "../../layouts/Layout.astro";
import ReadingInfo from "../../components/ReadingInfo.astro";
import ConfirmParticipation from "../../components/ConfirmParticipation.astro";
import { actions } from "astro:actions";

const { id } = Astro.params;
const readingId = Number(id);
if (!Number.isInteger(readingId)) {
    return Astro.redirect("/404");
}
const reading = await db
    .select()
    .from(Readings)
    .where(eq(Readings.id, readingId));

if (reading.length === 0) {
    return Astro.redirect("/404");
}

const {
    date,
    startTime,
    endTime,
    location,
    bookCover,
    description,
    message,
    calendar,
    facilitators,
    goLive,
} = reading[0];

Astro.cookies.set("_calendar", calendar, { maxAge: 3600, path: "/" });

const displayFormattedDate = function (readingDate: Date) {
    const months = [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
    ];
    const days = ["Sunday", "Monday", "Tuesday",
        "Wednesday", "Thursday", "Friday", "Saturday"
    ]
    const date = readingDate.getDate().toString();
    const month = months[readingDate.getMonth()];
    const year = readingDate.getFullYear().toString();
    const day = days[readingDate.getDay()];

    return {"date": date, "day": day, "month": month, "year": year};
};

const formatTime = function (time: number) {
    const hour_24 = Math.floor(time / 60);
    var minutes = time % 60;
    const prefix = hour_24 > 12 ? "pm" : "am";
    const hour_12 = hour_24 > 12 ? hour_24 - 12 : hour_24;
    const hour_in_string = hour_12.toString();
    const minutes_in_string =
        minutes < 10 ? "0" + minutes.toString() : minutes.toString();
    return hour_in_string.concat(":", minutes_in_string, " ", prefix);
};

const displayFormattedTimings = function (startTime: number, endTime: number) {
    return formatTime(startTime).concat(" - ", formatTime(endTime));
};

const result:any = Astro.getActionResult(actions.reading.addConfirmation);

if (result && !result.error) {
    return Astro.redirect("/readings/contribute");
}
const actionError = result?.error?.status === 500;
if (actionError){
  return Astro.redirect('/500');
}
---

<Layout>
    <main>
        <ReadingInfo
            date={displayFormattedDate(date)}
            time={displayFormattedTimings(startTime, endTime)}
            bookCover={bookCover}
            location={location}
            description={description}
            facilitators={facilitators}
            message={message}
        />
        <ConfirmParticipation readingDate={date} goLive={goLive}/>
    </main>
</Layout>
<style>
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    .hidden-label {
        display: none;
    }
    
    #description {
        padding: 0 1.5rem;
    }
</style>
