---
import Facilitator from "./Facilitator.astro";
import { Icon } from "astro-icon/components";

const { date, time, location, bookCover, description, facilitators } =
    Astro.props;
---

<section>
    <div id="reading-info">
        <div class="date">
            <span id="date-num">{date.date}</span>
            <span id="month">{date.month}</span>
        </div>
        <div class="time">
            <span id="day">{date.day}</span>
            <span id="time">{time}</span>
            <span id="location">
                <Icon name="ic:baseline-location-on" color="#6cbfae" is:inline size={16}/>
                Online
            </span>
        </div>
    </div>
    <div id="book-cover">
        <img width="250" src={bookCover} alt="book cover" />
    </div>
    <p id="description">
        {description}
    </p>
    <div id="facilitators">
        <h4>Facilitated By</h4>
        <div>
            {
                facilitators.map((facilitator: any) => (
                    <Facilitator
                        name={facilitator.name}
                        profile_image={facilitator.profile_image}
                        profile_link={facilitator.profile_link}
                    />
                ))
            }
        </div>
    </div>
</section>
<style>
    .hidden-label {
        display: none;
    }
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #description {
        padding: 0;
    }
    hr {
        max-width: 650px;
        margin: auto;
    }
    .date{
        display: flex;
        flex-direction: column;
        border-right: 3px solid #A1D6CB;
        padding-right: 1rem;
        justify-content: center;
        align-items: center;
    }
    #date-num{
        font-size: 2rem;
        font-weight: 600;
    }
    #month{
        text-transform: uppercase;
        font-weight: 500;
    }
    
    .time{
        display: flex;
        flex-direction: column;
    }
    #day{
        text-transform: uppercase;
        color: gray;
        font-size: 0.75rem;
    }
    #time{
        font-weight: 600;
    }
    #location{
        display: flex;
        align-items: center;
        gap: 0.1rem;
        color: gray;
        text-transform: uppercase;
        font-size: 0.9rem;
    }
    #book-cover{
        box-shadow: 0 0 5px -1px black, inset -1px 1px 2px rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        margin-bottom: 1rem;
    }
    #reading-info{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        border: 1px solid lightgray;
        background-color: #f5f5f5;
        padding: 0.5rem 1.5rem;
        border-radius: 12px;
        /* margin-top: 1rem; */
        margin-bottom: 1rem;
        box-shadow: 1px 1px 2px;
    }
    #description{
        font-size: 1.2rem;
    }
    h4{
        text-align: center;
        border-radius: 15px;
        background-color: #344cb7;
        color: white;
        padding: 0.25rem 1rem;
        display: inline-block;
        font-size: 0.9rem;
        /* margin: auto; */
    }
    #facilitators{
        margin-top: 1rem;
        margin-bottom: 2rem;
        margin-right: auto;
    }
    @media only screen and (min-width: 480px) {
        section {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 5%;
            max-width: 600px;
            margin: auto;
        }
        #book-cover {
            order: 1;
        }
        #reading-info {
            order: 2;
        }
        #description {
            order: 3;
        }
        #facilitators {
            order: 4;
        }
    }
</style>
