---
import Facilitator from "./Facilitator.astro";
import { Icon } from "astro-icon/components";
import DateCard from "./DateCard.astro";

const { date, time, location, bookCover, description, message, facilitators } =
    Astro.props;
---

<section>
    <div id="reading-info">
        <DateCard date={date} time={time} location={location} />
    </div>

    <div id="book-cover">
        <img width="250" src={bookCover} alt="book cover" />
    </div>
    <p id="description">
        {description}
    </p>
    <div id="facilitators">
        <h4>Facilitated By</h4>
        <div>
            {
                facilitators.map((facilitator: any) => (
                    <Facilitator
                        name={facilitator.name}
                        profile_image={facilitator.profile_image}
                        profile_link={facilitator.profile_link}
                    />
                ))
            }
        </div>
    </div>
    <div id="message">
        <p><em>{message}</em></p>
    </div>
</section>
<style>
    .hidden-label {
        display: none;
    }
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #description {
        padding: 0;
    }
    hr {
        max-width: 650px;
        margin: auto;
    }
    #reading-info{
        border: 1px solid lightgray;
        background-color: #f5f5f5;
        padding: 0.5rem 1.5rem;
        border-radius: 12px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        box-shadow: 1px 1px 2px;
    }
    #book-cover {
        box-shadow:
            0 0 5px -1px black,
            inset -1px 1px 2px rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        margin-bottom: 1rem;
    }
    
    #description {
        font-size: 1.2rem;
    }
    h4 {
        text-align: center;
        border-radius: 15px;
        background-color: #344cb7;
        color: white;
        padding: 0.25rem 1rem;
        display: inline-block;
        font-size: 0.9rem;
    }
    #facilitators {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: auto;
    }
    #message{
        order: 5;
    }
    @media only screen and (min-width: 480px) {
        section {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 5%;
            max-width: 600px;
            margin: auto;
        }
        #book-cover {
            order: 1;
        }
        #reading-info {
            order: 2;
        }
        #description {
            order: 3;
        }
        #facilitators {
            order: 4;
        }
        #message {
            order: 5;
        }
    }
</style>
